<div class="entry">
    <form name="feedback" method="post" action="">
        <fieldset>
            <legend>Contact Travi</legend>
            <ul class="fieldList">
                <li>{{> atoms-text-input }}</li>
                <li>{{> atoms-email-input }}</li>
                <li>{{> atoms-select-menu }}</li>
                <li>
                    <label for="topic">Topic</label>
                    <select name="topic" id="topic" class="textInput">
                        <option value="">Select One</option>
                        <option value="Question">Question</option>
                        <option value="Comment">Comment</option>
                        <option value="Site Suggestion">Site Suggestion</option>
                        <option value="Report a Bug">Report a Bug</option>
                        <option value="Propose a Solution to a Problem">Propose a Solution to a Problem</option>
                    </select>
                </li>
                <li>{{> atoms-radio-buttons }}</li>
                <li>
                    <fieldset>
                        <legend>Request a Reply?</legend>
                        <ol class="choices">
                            <li>
                                <label>
                                    <input type="radio" name="reply" value="pleaseReply" class="radioButton">
                                    Yes
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="reply" value="noReply" class="radioButton">
                                    No
                                </label>
                            </li>
                        </ol>
                    </fieldset>
                </li>
                <li>{{> atoms-text-area }}</li>
            </ul>
        </fieldset>
        <ol class="actions">
            <li>{{> atoms-submit-button }}</li>
        </ol>
    </form>
</div>
