<div class="entry">
    <form name="feedback" method="post" action="">
        <fieldset>
            <legend>Contact Travi</legend>
            <ul class="fieldList">
                <li>{{> atoms-text-input }}</li>
                <li>{{> atoms-email-input }}</li>
                <li>{{> atoms-select-menu }}</li>
                <li>{{> atoms-radio-buttons }}</li>
                <li>{{> atoms-text-area }}</li>
            </ul>
        </fieldset>
        <ol class="actions">
            <li>{{> atoms-submit-button }}</li>
        </ol>
    </form>
</div>
