&lt;ul class=&quot;sg-colors&quot;&gt;
  {{#greys}}
    &lt;li&gt;
      &lt;div class=&quot;sg-swatch&quot; style=&quot;background: {{value}};&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;sg-info&quot;&gt;
        &lt;h6&gt;{{value}}&lt;/h6&gt;
        Sass Variable: &lt;br&gt;
        {{name}}
      &lt;/div&gt;
    &lt;/li&gt;
  {{/greys}}
&lt;/ul&gt;
