
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
		<script src="../../thirdparty/jquery/jquery.js"> </script>
		<script src="../../thirdparty/jquery-ui/jquery-ui.js"> </script>
		<script src="../../thirdparty/jsrender/jsrender.js"> </script>
		<script src="../../thirdparty/travi-core/dist/travi-core.min.js"> </script>
		<script src="../../thirdparty/travi-ui/dist/form.min.js"> </script>
	</body>
</html>
