
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
		<script src="/resources/thirdparty/amplify/amplify.core.js"> </script>
		<script src="/resources/thirdparty/jquery/jquery.js"> </script>
		<script src="/resources/thirdparty/jquery-ui/jquery-ui.js"> </script>
		<script src="/resources/thirdparty/jsrender/jsrender.js"> </script>
		<script src="/resources/thirdparty/jquery-migrate/jquery-migrate.js"> </script>
		<script src="/resources/thirdparty/wymeditor/jquery.wymeditor.min.js"> </script>
		<script src="/resources/thirdparty/travi-core/dist/travi-core.min.js"> </script>
		<script src="/resources/thirdparty/travi-ui/dist/form.min.js"> </script>
		<script src="/resources/thirdparty/travi.org-theme/test/stubs/sublimevideo.js"> </script>
		<script src="/resources/thirdparty/travi.org-theme/thirdparty/lightbox/jquery.lightbox.js"> </script>
		<script src="/resources/thirdparty/travi.org-theme/js/video/player.js"> </script>
		<script src="/resources/thirdparty/travi.org-theme/js/photos/carousel.js"> </script>
		<!-- <script src="/resources/thirdparty/travi.org-theme/js/photos/thumbnails.js"> </script> -->
	{{# extra.js }}
		<script src="{{ src }}"> </script>
	{{/ extra.js}}
	</body>
</html>
