<div id="thumbContainer" class="entry-message">
    <ul class="pagination thumbnail">
        <li class="outOfRange">
            <a href="/albums/5823881448034071153/images/?offset=-14" class="prev">
                    back
            </a>
        </li>
        <li class="outOfRange pipeDivider"> | </li>
        <li>
            <a href="/albums/5823881448034071153/images/?offset=14" class="more">
                    more
            </a>
        </li>
    </ul>

    <ul id="thumbs">{{# listItems.fifteen }}<li><a href="{{ img.landscape-4x3.src }}">{{> atoms-thumbnail }}</a></li>{{/ listItems.fifteen }}</ul>

    <ul class="pagination thumbnail">
        <li class="outOfRange">
            <a href="/albums/5823881448034071153/images/?offset=-14" class="prev">
                    back
            </a>
        </li>
        <li class="outOfRange pipeDivider"> | </li>
        <li>
            <a href="/albums/5823881448034071153/images/?offset=14" class="more">
                    more
            </a>
        </li>
    </ul>
</div>
