<div id="thumbContainer" class="entry-message">
    <ul class="pagination thumbnail">
        <li class="outOfRange">
            <a href="/albums/5823881448034071153/images/?offset=-14" class="prev">
                    back
            </a>
        </li>
        <li class="outOfRange pipeDivider"> | </li>
        <li>
            <a href="/albums/5823881448034071153/images/?offset=14" class="more">
                    more
            </a>
        </li>
    </ul>

    <button class="slide-left at-limit"></button>
    <ul id="thumbs">{{# listItems.fifteen }}<li>{{> atoms-thumbnail }}</li>{{/ listItems.fifteen }}</ul>
    <button class="slide-right"></button>

    <ul class="pagination thumbnail">
        <li class="outOfRange">
            <a href="/albums/5823881448034071153/images/?offset=-14" class="prev">
                    back
            </a>
        </li>
        <li class="outOfRange pipeDivider"> | </li>
        <li>
            <a href="/albums/5823881448034071153/images/?offset=14" class="more">
                    more
            </a>
        </li>
    </ul>
</div>
