<div id="imageContainer" class="image" style="height: 1202px;">
    <a href="{{ img.landscape-4x3.src }}">
        <div class="preview" style="display: inline; width: 600px; height: 1200px;">
            {{> atoms-landscape-4x3 }}
            <canvas height="400" width="600" style="height: 400px; width: 600px;"></canvas>
        </div>
    </a>
    <img id="preview_loading" src="/resources/thirdparty/travi-styles/img/progress/large-loading.gif" style="display: none;">
</div>
