<label for="select">{{ inputs.select.label }}</label>
<select id="select" class="textInput">
    <option value="">Select One</option>
    {{#inputs.select.choices}}
        <option>{{ label }}</option>
    {{/inputs.select.choices}}
</select>
