<label for="select">{{ inputs.select.label }}</label>
<select id="select" class="textInput">
    <optgroup label="Option Group">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </optgroup>
</select>
