<fieldset>
    <legend>{{ inputs.radios.label }}</legend>
    <ul class="choices">
    {{#inputs.radios.choices}}
        <li>
            <label>
                <input name="radio" type="radio" class="radio" checked="checked">
                {{ label }}
            </label>
        </li>
    {{/inputs.radios.choices}}
    </ul>
</fieldset>
