&lt;div id=&quot;wrap&quot;&gt;
    {{&gt; organisms-header }}

    &lt;div id=&quot;content&quot;&gt;
        &lt;h2&gt;
            &lt;div class=&quot;sectionNav&quot;&gt;[ &lt;a href=&quot;/about/gallery/&quot;&gt;about&lt;/a&gt; ]&lt;/div&gt;
            &lt;span class=&quot;title&quot;&gt;Photo Gallery&lt;/span&gt;
        &lt;/h2&gt;

        {{&gt; molecules-album-menu-bar }}

        &lt;div class=&quot;section&quot;&gt;
            {{&gt; organisms-carousel }}

            &lt;div id=&quot;imageContainer&quot; class=&quot;image&quot; style=&quot;height: 1202px;&quot;&gt;
                &lt;a href=&quot;http://lh3.ggpht.com/-VE8hsthxHew/URp7ew4R0eI/AAAAAAAAKtE/CUphJOhe5No/s1600/IMG_0866.JPG&quot;&gt;
                    &lt;div class=&quot;preview&quot; style=&quot;display: inline; width: 600px; height: 1200px;&quot;&gt;
                        {{&gt; atoms-landscape-4x3 }}
                        &lt;!-- &lt;img id=&quot;preview_pos&quot; alt=&quot;preview&quot; class=&quot;reflected&quot; src=&quot;http://lh3.ggpht.com/-VE8hsthxHew/URp7ew4R0eI/AAAAAAAAKtE/CUphJOhe5No/w600/IMG_0866.JPG&quot; style=&quot;vertical-align: bottom;&quot;&gt; --&gt;
                        &lt;canvas height=&quot;400&quot; width=&quot;600&quot; style=&quot;height: 400px; width: 600px;&quot;&gt;&lt;/canvas&gt;
                    &lt;/div&gt;
                &lt;/a&gt;
                &lt;img id=&quot;preview_loading&quot; src=&quot;/resources/thirdparty/travi-styles/img/progress/large-loading.gif&quot; style=&quot;display: none;&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        {{&gt; organisms-footer }}
    &lt;/div&gt;

    {{&gt; molecules-side-nav }}
&lt;/div&gt;
