&lt;div id=&quot;wrap&quot;&gt;
    {{&gt; organisms-header }}

    &lt;div id=&quot;content&quot;&gt;
        &lt;h2&gt;
            &lt;div class=&quot;sectionNav&quot;&gt;[ &lt;a href=&quot;/about/gallery/&quot;&gt;about&lt;/a&gt; ]&lt;/div&gt;
            &lt;span class=&quot;title&quot;&gt;Photo Gallery&lt;/span&gt;
        &lt;/h2&gt;

        {{&gt; molecules-album-menu-bar }}

        &lt;div class=&quot;section&quot;&gt;
            {{&gt; organisms-carousel }}

        &lt;/div&gt;

        {{&gt; organisms-footer }}
    &lt;/div&gt;

    {{&gt; molecules-side-nav }}
&lt;/div&gt;
