<div id="wrap">
    {{> organisms-header }}

    <div id="content">
        <h2>Recent Activity</h2>

        <div class="entry">
            <div id="recentThumbs">
                <h3 class="entry-title"><a href="gallery">Recent Photos</a></h3>
                <div id="thumbContainer" class="entry-message">
                    <ul id="thumbs"></ul>
                </div>
            </div>
                    <!--{include file='components/recentBlog.tpl' entries=$content['recentBlog']}-->
            <!--{include file='pages/announcements/index.tpl'}-->
        </div>

        {{> organisms-footer }}
    </div>

    {{> molecules-side-nav }}
</div>