<div id="wrap">
    {{> organisms-header }}

    <div id="content">
        <h2>Recent Activity</h2>

        <div class="entry">
            <div id="recentThumbs">
                <h3 class="entry-title"><a href="gallery">Recent Photos</a></h3>
                <div id="thumbContainer" class="entry-message">
                    {{> organisms-carousel }}
                </div>
            </div>
            <div class="updateList" id="blogList">
                <h3 class="entry-title"><a href="/blog/">Blog Entries</a></h3>
                <dl></dl>
            </div>
            <div class="entry">
                <div class="updateList" id="announcementsList">
                    <h3 class="entry-title"><a href="/announcements/">Site Announcements</a></h3>
                    <dl></dl>
                </div>
            </div>
        </div>

        {{> organisms-footer }}
    </div>

    {{> molecules-side-nav }}
</div>
