<div id="wrap">
    {{> organisms-header }}

    <div id="content">
        <h2>
            <div class="sectionNav">[ <a href="/about/gallery/">about</a> ]</div>
            <span class="title">Photo Gallery</span>
        </h2>

        {{> molecules-album-menu-bar }}

        <div class="section">
            {{> organisms-carousel }}

            <div id="imageContainer" class="image" style="height: 1202px;">
                <a href="http://lh3.ggpht.com/-VE8hsthxHew/URp7ew4R0eI/AAAAAAAAKtE/CUphJOhe5No/s1600/IMG_0866.JPG">
                    <div class="preview" style="display: inline; width: 600px; height: 1200px;">
                        <img id="preview_pos" alt="preview" class="reflected" src="http://lh3.ggpht.com/-VE8hsthxHew/URp7ew4R0eI/AAAAAAAAKtE/CUphJOhe5No/w600/IMG_0866.JPG" style="vertical-align: bottom;">
                        <canvas height="400" width="600" style="height: 400px; width: 600px;"></canvas>
                    </div>
                </a>
                <img id="preview_loading" src="/resources/thirdparty/travi-styles/img/progress/large-loading.gif" style="display: none;">
            </div>
        </div>

        {{> organisms-footer }}
    </div>

    {{> molecules-side-nav }}
</div>
