&lt;fieldset&gt;
    &lt;legend&gt;{{ inputs.radios.label }}&lt;/legend&gt;
    &lt;ul class=&quot;choices&quot;&gt;
    {{#inputs.radios.choices}}
        &lt;li&gt;
            &lt;label&gt;
                &lt;input name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot;&gt;
                {{ label }}
            &lt;/label&gt;
        &lt;/li&gt;
    {{/inputs.radios.choices}}
    &lt;/ul&gt;
&lt;/fieldset&gt;
