{{#fonts}}
&lt;dl class=&quot;inline&quot;&gt;
    &lt;dt&gt;{{name}}&lt;/dt&gt;
        &lt;dd style=&quot;font-family: {{value}};&quot;&gt;{{value}}&lt;/dd&gt;
    &lt;dt&gt;{{name}} italic&lt;/dt&gt;
        &lt;dd style=&quot;font-family: {{value}}; font-style: italic;&quot;&gt;{{value}}&lt;/dd&gt;
    &lt;dt&gt;{{name}} bold&lt;/dt&gt;
        &lt;dd style=&quot;font-family: {{value}}; font-weight: bold;&quot;&gt;{{value}}&lt;/dd&gt;
&lt;/dl&gt;
{{/fonts}}
