<nav id="topNav">
    <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">gallery</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
    </ul>
</nav>
