<nav class="sideNav" id="mainNav">
    <ul>
	    <li><a href="{{ url }}">home</a></li>
	    <li><a href="{{ url }}">blog</a></li>
	    <li><a href="{{ url }}">gallery</a></li>
	    <li><a href="{{ url }}">contact</a></li>
	    <li><a href="{{ url }}">about</a></li>
    </ul>
</nav>
