.entry-title,
dt.entry-title a {
    font-variant: small-caps;
    background: $theme-black;
    padding: 3px;
    color: #fff;
    margin: 0;
}

.entry-title a {
    color: #fff;
}

.entry-title a:hover {
    color: $light-grey;
}

h3.entry-title {
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
}
