#topNav {
    text-align: center;
    font-size: .85em;

    ul {
        display: inline;

        li {
            display: inline;
            list-style: none;
        }
    }
}


nav.sideNav {
    float: left;
    clear: left;
    display: block;
    width: 90px;
    margin: 10px 0 0 -10px;
    border: 2px solid #000;
    text-align: left;
    padding: 10px 0;
    font-family: "Trebuchet MS", sans-serif;
    -moz-box-shadow: 3px 3px 4px #000; // FF3.5+
    -webkit-box-shadow: 3px 3px 4px #000; // Saf3.0+, Chrome
    box-shadow: 3px 3px 4px #000; // Opera 10.5, IE9
}