$resources-directory: "../";

@import "../../../resources/thirdparty/travi.org-theme/scss/colors";
@import "../../../resources/thirdparty/travi.org-theme/scss/variables";

@import "variables";
@import "variables_d";

@import "nav";
@import "nav_d";

@import "headings";

@import "../../../resources/thirdparty/travi.org-theme/dist/css/theme.css";
@import "../../../resources/thirdparty/travi.org-theme/dist/css/theme_d.css";

@import "footer";
@import "footer_d";

@import "homepage";
@import "homepage_d";

@import "jquery-ui-theme";


#organisms-header .sg-pattern-body {
    width: $wrap-width;
}

h2.sg-pattern-head {
    background: none;
    border: none;
    font-variant: normal;

    a {
        color: #808080;
    }
}
