$resources-directory: "../";

@import "variables";
@import "variables_d";

@import "nav";
@import "nav_d";

@import "headings";

@import "header";
@import "header_d";

@import "footer";
@import "footer_d";

@import "wrap";
@import "wrap_d";

@import "homepage";
@import "homepage_d";


#organisms-header .sg-pattern-body {
    width: $wrap-width;
}

h2.sg-pattern-head {
    background: none;
    border: none;
    font-variant: normal;

    a {
        color: #808080;
    }
}