&lt;label for=&quot;select&quot;&gt;{{ inputs.select.label }}&lt;/label&gt;
&lt;select id=&quot;select&quot; class=&quot;textInput&quot;&gt;
    &lt;option value=&quot;&quot;&gt;Select One&lt;/option&gt;
    {{#inputs.select.choices}}
        &lt;option&gt;{{ label }}&lt;/option&gt;
    {{/inputs.select.choices}}
&lt;/select&gt;
