&lt;label for=&quot;webaddress&quot;&gt;{{ inputs.url.label }}&lt;/label&gt;
&lt;input id=&quot;webaddress&quot; type=&quot;url&quot; placeholder=&quot;{{ inputs.url.placeholder }}&quot; class=&quot;textInput&quot;&gt;
