&lt;label for=&quot;emailaddress&quot;&gt;{{ inputs.email.label }}&lt;/label&gt;
&lt;input id=&quot;emailaddress&quot; type=&quot;email&quot; placeholder=&quot;{{ inputs.email.placeholder }}&quot; class=&quot;textInput&quot;&gt;
