&lt;label for=&quot;text&quot;&gt;{{ inputs.text.label }} &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/label&gt;
&lt;input id=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;{{ inputs.text.placeholder }}&quot; class=&quot;textInput&quot;&gt;
