&lt;label for=&quot;textarea&quot;&gt;{{ inputs.textarea.label }}&lt;/label&gt;
&lt;textarea id=&quot;textarea&quot; rows=&quot;8&quot; cols=&quot;48&quot; placeholder=&quot;{{ inputs.textarea.placeholder }}&quot; class=&quot;textInput&quot;&gt;&lt;/textarea&gt;
