&lt;div id=&quot;wrap&quot;&gt;
    {{&gt; organisms-header }}

    &lt;div id=&quot;content&quot;&gt;
        &lt;h2&gt;Recent Activity&lt;/h2&gt;

        &lt;div class=&quot;entry&quot;&gt;
            &lt;div id=&quot;recentThumbs&quot;&gt;
                &lt;h3 class=&quot;entry-title&quot;&gt;&lt;a href=&quot;gallery&quot;&gt;Recent Photos&lt;/a&gt;&lt;/h3&gt;
                {{&gt; organisms-carousel }}
            &lt;/div&gt;
            &lt;div class=&quot;updateList&quot; id=&quot;blogList&quot;&gt;
                &lt;h3 class=&quot;entry-title&quot;&gt;&lt;a href=&quot;/blog/&quot;&gt;Blog Entries&lt;/a&gt;&lt;/h3&gt;
                &lt;dl&gt;&lt;/dl&gt;
            &lt;/div&gt;
            &lt;div class=&quot;entry&quot;&gt;
                &lt;div class=&quot;updateList&quot; id=&quot;announcementsList&quot;&gt;
                    &lt;h3 class=&quot;entry-title&quot;&gt;&lt;a href=&quot;/announcements/&quot;&gt;Site Announcements&lt;/a&gt;&lt;/h3&gt;
                    &lt;dl&gt;&lt;/dl&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        {{&gt; organisms-footer }}
    &lt;/div&gt;

    {{&gt; molecules-side-nav }}
&lt;/div&gt;
