&lt;div class=&quot;entry&quot;&gt;
	&lt;form method=&quot;post&quot; action=&quot;{{ url }}&quot; class=&quot;comment-form&quot;&gt;
		&lt;fieldset&gt;
			&lt;legend&gt;Comments&lt;/legend&gt;
			&lt;ol class=&quot;fieldList&quot;&gt;
				&lt;li&gt;{{&gt; atoms-text-input }}&lt;/li&gt;
				&lt;li&gt;{{&gt; atoms-email-input }}&lt;/li&gt;
				&lt;li&gt;{{&gt; atoms-url-input }}&lt;/li&gt;
				&lt;li&gt;{{&gt; atoms-text-area }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/fieldset&gt;
	&lt;/form&gt;
&lt;/div&gt;
