@import "../../../resources/thirdparty/travi.org-theme/scss/theme";
@import "../../../resources/thirdparty/travi.org-theme/scss/theme_d";

@import "../../../resources/thirdparty/travi.org-theme/scss/lists/placeholders";

@import "headings";

@import "homepage";
@import "homepage_d";

@import "jquery-ui-theme";

@import "../../../resources/thirdparty/travi.org-theme/scss/gallery/gallery";
@import "../../../resources/thirdparty/travi.org-theme/scss/gallery/gallery_d";

@import "../../../resources/thirdparty/travi-styles/scss/form/travi-form";
@import "../../../resources/thirdparty/travi-styles/scss/form/travi-form_d";

$wrap-width: 750px;

#atoms-fonts dl {
    @extend %inline-dl;
    margin-bottom: 20px;

    dt {
        margin-right: 10px;
    }
}

#organisms-header .sg-pattern-body {
    width: $wrap-width;
}

h2.sg-pattern-head {
    background: none;
    border: none;
    font-variant: normal;

    a {
        color: #808080;
    }
}

$sg-bp-small-2 : 30em;
.sg-pattern-body .sg-colors {
    margin-left: 0;

    li {
        @media all and (min-width: $sg-bp-small-2) {
            width: 10em;
        }
    }

    .sg-swatch {
        height: 3em;
    }

    .sg-info, .sg-swatch {
        display: inline-block;
    }
}
