$resources-directory: "../";

@import "../../../resources/thirdparty/travi.org-theme/scss/theme";
@import "../../../resources/thirdparty/travi.org-theme/scss/theme_d";

@import "variables";
@import "variables_d";

@import "nav";
@import "nav_d";

@import "headings";

@import "homepage";
@import "homepage_d";

@import "jquery-ui-theme";


#organisms-header .sg-pattern-body {
    width: $wrap-width;
}

h2.sg-pattern-head {
    background: none;
    border: none;
    font-variant: normal;

    a {
        color: #808080;
    }
}
