<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #f00;"></span>
		<span class="sg-label">#f00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c80000;"></span>
		<span class="sg-label">#c80000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>
