<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #252429;"></span>
		<span class="sg-label">#252429</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">#333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">#666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #818181;"></span>
		<span class="sg-label">#818181</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #888;"></span>
		<span class="sg-label">#888</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">#999</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #969696;"></span>
		<span class="sg-label">#969696</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bbb;"></span>
		<span class="sg-label">#bbb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c0c0c0;"></span>
		<span class="sg-label">#c0c0c0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">#ccc</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e0e0e0;"></span>
		<span class="sg-label">#e0e0e0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">#eee</span>
	</li>
</ul>
