{{#fonts}}
<dl class="inline">
    <dt>{{name}}</dt>
        <dd style="font-family: {{value}};">{{value}}</dd>
    <dt>{{name}} italic</dt>
        <dd style="font-family: {{value}}; font-style: italic;">{{value}}</dd>
    <dt>{{name}} bold</dt>
        <dd style="font-family: {{value}}; font-weight: bold;">{{value}}</dd>
</dl>
{{/fonts}}
