&lt;div id=&quot;wrap&quot;&gt;
    {{&gt; organisms-header }}

    &lt;div id=&quot;content&quot;&gt;
        {{&gt; molecules-contact-form}}

        {{&gt; organisms-footer }}
    &lt;/div&gt;

    {{&gt; molecules-side-nav }}
&lt;/div&gt;
